[Unit]
Description=OpenRGB control

[Service]
Type=simple
ExecStart=/usr/bin/openrgb -c FFFFFF -m Off
ExecStop=/usr/bin/openrgb -c 000000 -m Off
RemainAfterExit=yes

[Install]
WantedBy=default.target
