* {
	font-size: 16px;
	font-family: "JetBrainsMono Nerd Font Mono", monospace;
}

#workspaces button {
    transition: none;
    border-radius: 0;
    border: none;
}

#workspaces button.focused {
    background-color: #c49ec4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#workspaces button:hover {
	background-color: #c49ec4;
}

#workspaces button, #cpu, #memory, #pulseaudio, #window, #custom-spotify, #clock, #battery, #backlight, #tray{
	padding: 0 8px;
}

#workspaces {
    background-color: #F28FAD;
}

#custom-arrow-1 {
    color: #F28FAD;
    background-color: #ABE9B3;
}

#backlight {
    background-color: #ABE9B3;
}

#custom-arrow-2 {
    color: #ABE9B3;
    background-color: #FAE3B0;
}

#pulseaudio {
    background-color: #FAE3B0;
}

#custom-arrow-3 {
    color: #FAE3B0;
    background-color: #96CDFB;
}

#memory {
    background-color: #96CDFB;
}

#custom-arrow-4 {
    color: #96CDFB;
    background-color: #F5C2E7;
}

#cpu {
    background-color: #F5C2E7;
}

#custom-arrow-5 {
    color: #F5C2E7;
    background-color: #89DCEB;
}

#battery {
    background-color: #89DCEB;
}

#custom-arrow-6 {
    color: #89DCEB;
    background-color: #D9E0EE;
}

#clock {
    background-color: #D9E0EE;
}

#custom-arrow-7 {
    color: #D9E0EE;
    background-color: #F28FAD;
}

#custom-spotify {
    background-color: #F28FAD;
}

#custom-arrow-8 {
    color: #F28FAD;
    background-color: #ABE9B3;
}

#tray {
    background-color: #ABE9B3;
}

#custom-arrow-9 {
    color: #ABE9B3;
    background-color: #1E1D2F;
}

window#waybar {
	background: #1E1D2F;
	color: #1A1826;
}
