* {
	font-size: 20px;
	font-family: monospace;
    color: black;
}

#window {
    background: #f2cdcd;
}

#workspaces {
    background: #f5e0dc;
}

#workspaces button {
    transition: none;
    border-radius: 0;
    border: none;
}

#workspaces button.focused {
    background-color: #c49ec4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#workspaces button:hover {
	background-color: #c49ec4;
}

#workspaces button, #cpu, #memory, #pulseaudio, #window, #custom-spotify, #clock, #battery, #backlight, #tray{
	padding: 0 8px;
}

#custom-arrow-0-outer {
    color: #f5e0dc;
    background-color: #f2cdcd;
}

#sway-workspaces {
    background-color: #f5e0dc;
}

#custom-arrow-1-outer {
    color: #f2cdcd;
    background-color: #f5c2e7;
}

#backlight {
    background-color: #f2cdcd;
}

#custom-arrow-2-outer {
    color: #f5c2e7;
    background-color: #cba6f7;
}

#pulseaudio {
    background-color: #f5c2e7;
}

#custom-arrow-3-outer {
    color: #cba6f7;
    background-color: #f38ba8;
}

#memory {
    background-color: #cba6f7;
}

#custom-arrow-4-outer {
    color: #f38ba8;
    background-color: #eba0ac;
}

#cpu {
    background-color: #f38ba8;
}

#custom-arrow-5-outer {
    color: #eba0ac;
    background-color: #fab387;
}

#battery {
    background-color: #eba0ac;
}

#custom-arrow-6-outer {
    color: #fab387;
    background-color: #f9e2af;
}

#clock {
    background-color: #fab387;
}

#custom-arrow-7-outer {
    color: #f9e2af;
    background-color: #a6e3a1;
}

#custom-spotify {
    background-color: #f9e2af;
}

#custom-arrow-8-outer {
    color: #a6e3a1;
    background-color: #94e2d5;
}

#tray {
    background-color: #a6e3a1;
}

window#waybar {
	background: #94e2d5;
	color: black;
}
